<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gz.dao.mapper.RoleInfoMapper">

    <select id="getRoleById" parameterType="int" resultType="com.gz.dto.RoleInfoDto">
        select r.*,u.userId from userinfo u right join user_role ur on ur.userId = u.userId
        right join roleinfo r on ur.roleid = r.roleid
        and ur.status=1
        and u.status = 1 and u.userId = #{userId}
    </select>

    <update id="getUserRoleInfoById" parameterType="com.gz.dao.pojo.UserRole">
          update user_role set userId=#{userId} where roleid=#{roleid}
    </update>

    <update id="getUserRoleInfoId" parameterType="com.gz.dao.pojo.UserRole">
          update user_role set userId=default where roleid=#{roleid}
    </update>

    <update id="getUserRoleId" parameterType="com.gz.dao.pojo.UserRole">
          update userinfo set status=0 where userId=#{userId}
    </update>

</mapper>